<div>
    <h1>login</h1>
    {{ form_open({route: 'admin.login.post', method: 'post'}) }}
        <input
            type="email"
            name="email"
            value="{{ old('email') }}"
            placeholder="email"/>
        <input
            type="password"
            name="password"
            placeholder="password"/>
        {% for errs in error_all() %}
            {% for e in errs %}
                <p>{{ e }}</p>
            {% endfor %}
        {% endfor %}
        <input type="submit" value="Submit"/>
    {{ form_close() }}
</div>
