<div>
    <h1>root</h1>
    {{ form_open({route: 'install.account.save', method: 'post'}) }}
        <input
            type="text"
            name="name"
            value="{{ old('key', setting.root.name) }}"
            placeholder="name"/>
        <input
            type="text"
            name="password"
            placeholder="password"/>
        {% for errs in error_all() %}
            {% for e in errs %}
                <p>{{ e }}</p>
            {% endfor %}
        {% endfor %}
        <input type="submit" value="Submit"/>
    {{ form_close() }}
</div>
