<div>
    <h1>インストールを完了</h1>
    <div>
        <h3>api</h3>
        <p>{{ setting.isArrangedApi() ? '済み' : '未' }}</p>
    </div>
    <div>
        <h3>basic</h3>
        <p>{{ setting.isArrangedBasicSetting() ? '済み' : '未' }}</p>
    </div>
    {{ form_open({route: 'install', method: 'post'}) }}
        <input type="submit" value="Submit"/>
    {{ form_close() }}
</div>
