{% extends 'layouts.master' %}

{% block title %}{{ taxonomy.name }}{% endblock %}

{% from 'components.pager' import pager %}

{% block content %}
    {% include 'components.contents' with {
        contents: contents
    } %}

    <div class="mt-8">
        {{ pager(
            paginator,
            share.request.uri.path,
            share.request.query
        ) }}
    </div>
{% endblock %}
