@import "@master/normal.css";

/* Geometric precision rendering for prettier text */
* {
  text-rendering: geometricprecision;
}

/* Antialiased font smoothing looks great */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* Standard CSS font variables and presets */
:root {
  --font-sans: ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont,
    segoe ui, roboto, helvetica neue, arial, noto sans, sans-serif, apple color
    emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  --font-mono: ui-monospace, sfmono-regular, menlo, monaco, consolas, liberation
    mono, courier new, monospace;
  --font-serif: ui-serif, georgia, cambria, times new roman, times, serif;
}

/* Remove margins and padding from certain elements */
body {
  font-family: var(--font-sans);
}
code,
kbd,
samp {
  font-family: var(--font-mono);
}

body,
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
button,
optgroup,
select,
textarea,
pre {
  margin: 0;
}
td,
legend,
textarea,
input,
fieldset {
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

/* Uniform box sizing calculation */
*,
::before,
::after {
  box-sizing: border-box;
}

/* Neutral typography and formatting */
body {
  line-height: 1.2;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
hr {
  height: 0;
  color: inherit;
}

/* Preset some elements as block */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

/* For AlpineJS */
[x-cloak] {
  display: none;
}

[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

/* For dialog elements */
dialog::backdrop {
  background-color: rgba(0 0 0, 0.3);
  backdrop-filter: blur(3px);
}
