@tailwind base;
@tailwind components;
@tailwind utilities;

.section-layout {
    @apply container mx-auto px-4 py-12;
}

.section-narrow-layout {
    @apply container lg:max-w-4xl mx-auto px-4 pt-12;
}
.section-narrow {
    @apply last-of-type:pb-20;
}

.section-header {
    @apply flex items-center space-x-4;
}
.section-header__title {
    @apply sm:text-3xl text-2xl font-bold;
}
.section-header__subtitle {
    @apply sm:text-sm text-xs text-gray-600;
}
.section-header__to-link {
    @apply sm:text-base text-sm hover:opacity-60;
}

.list-title {
    @apply mb-12;
}

.tag {
    @apply flex flex-wrap content-center gap-2;
}

.tag-label {
    @apply before:content-['#'] bg-gray-200 text-gray-800 text-sm py-1 px-3;
}

.toc-outer {
    @apply sm:px-12 sm:py-10 px-6 py-4 sm:mb-12 mb-6 bg-gray-200;
}
.toc-list {
    @apply m-0;
}
.toc-list__item {
    @apply list-none sm:text-base text-xs mb-2 last-of-type:mb-0;
    --level: 0;
    padding-left: calc(20px * var(--level));
}
.toc-list__item a {
    @apply text-gray-800 underline;
}
[data-level="1"] {
    @apply font-bold;
    --level: 0;
}
[data-level="2"] { --level: 0; }
[data-level="3"] { --level: 1; }
[data-level="4"] { --level: 2; }
[data-level="5"] { --level: 3; }
[data-level="6"] { --level: 4; }


.prose pre {
    background-color: #0d1117;
}
