{% if show ?? true %}

    {% set titles = content_titles(content).select(1, share.theme.detail.table_of_contents_level) %}

    {% if not titles.isEmpty() %}
        <div class="toc-outer">
            <ul class="toc-list">
                {% for title in titles %}
                    <li class="toc-list__item" data-level="{{ title.level }}">
                        {% if title.hasId() %}
                            <a href="#{{ title.id }}">
                                {{ title.title }}
                            </a>
                        {% else %}
                            {{ title.title }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endif %}
