{% if show ?? true %}

    {% set layers = content_titles(content).select(1, share.theme.detail.table_of_contents_level).layering() %}

    {% if not layers.isEmpty() %}
        <div class="toc-outer">
            <h3 class="toc-title">
                <i class="fas fa-list-ul" aria-hidden="true"></i>
                INDEX
            </h3>
            {% include 'components.content-title-layered-list' with {
                layers: layers,
                separator: '. ',
                prefix: '',
                suffix: '.',
            } %}
        </div>
    {% endif %}

{% endif %}
