{% if not layers.isEmpty() %}
    <ul class="toc-list">
        {% for layer in layers %}
            <li class="toc-list__item" {% if layer.isBlank() %} data-level="{{ layer.level }}" {% endif %}>
                {% if layer.isBlank() %}
                    <span>
                        {% if layer.header.id %}
                            <a href="#{{ layer.header.id }}">
                                {{ layer.header.title }}
                            </a>
                        {% else %}
                            {{ layer.header.title }}
                        {% endif %}
                    </span>
                {% endif %}
                {% include 'components.content-title-list' with {
                    layers: layer.layers
                } %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
