<footer class="border-t border-gray-200">
    <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col items-center pt-8 pb-12 md:flex-row-reverse md:justify-between md:pt-6">
            <p class="mt-6 text-sm text-gray-500 md:mt-0">
                © Copyright {{ share.meta.name }} {{ "now"|date("Y") }}. All rights reserved.</p>
        </div>
    </div>
</footer>
