<footer class="border-t border-gray-200">
    <div class="container mx-auto px-4 py-12">
        <p class="text-sm text-gray-500 text-center">
            © {{ "now"|date("Y") }} <strong>{{ share.meta.name }}</strong> All Rights Reserved.
        </p>
        <p class="text-sm text-gray-500 text-center">
            Powered by <strong>CmsTool</strong>
        </p>
    </div>
</footer>
