{% extends 'cms-tool::layouts.default' %}

{% block title %}Error{% endblock %}

{% block content %}
<div class="center-card">
    <div>
        <h2 class="center-card__title">
            {{ title }}
        </h2>
        <p class="center-card__minititle">
            {{ description }}
        </p>
    </div>
</div>
{% endblock %}
