{% extends 'cms-tool::layouts.default' %}

{% block title %}Error{% endblock %}

{% block content %}
<div class="center-card">
    <div>
        <h2 class="center-card__title">
            メンテナンス中です
        </h2>
        <p class="center-card__minititle">
            サイトは現在メンテナンス中になっております。<br/>
            しばらくお待ちください。
        </p>
    </div>
</div>
{% endblock %}
