{% extends 'layouts.master' %}

{% block content %}
<div>
    <h1 class="
        font-size:24px
        font-weight:bold
        color:#ffffff
        background-color:#000000
    ">Hello, World!</h1>
    <p>This is a sample page.</p>
    <img src="{{ asset('example.jpeg') }}"/>
</div>
{% endblock %}
