{% extends 'layouts.master' %}

{% block title %}{{ share.meta.name }}について{% endblock %}

{% block content %}
    <section class="section-narrow bg-gray-100 text-black">
        <div class="section-narrow-layout">
            <h1 class="text-2xl mb-8">About</h1>
            <div class="prose">
                {{ share.theme.about.description|raw }}
            </div>
            {% if share.theme.about.form %}
                <div class="w-full mt-8">
                    {{ share.theme.about.form|raw }}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
